<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page not Found</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- ส่วน header จะถูกโหลดจาก header.html -->
    <div id="header"></div>

    <main>
        <div style="position: relative; width: 400px; margin: 0px auto; text-align: center;">
            <img src="./public/assets/images/loading/error404.png" alt="Error 404" style="width:100%; height:auto; display:block;">

            <!-- ข้อความ overlay -->
            <div style=" position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%); color: rgb(0, 0, 0); font-weight: bold; width: 100%; max-width: 400px;">
                <h2 style="font-size: 30px;">ขออภัย! หน้านี้กำลังพัฒนา 😅</h2>
                <p style="font-size: 20px;">กรุณากลับมาใหม่ภายหลัง</p>
            </div>
        </div>

    </main>

    <div id="Footer"></div>
    <script src="script.js"></script>
</body>

</html>