<section id="contact" class="home-contact">
            <div class="contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d968.4308709960778!2d100.5848386577693!3d13.855629725976183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sSripatum%20University%202410%202%20Phahonyothin%20Rd%2C%20Sena%20Nikhom%2C%20Chatuchak%2C%20Bangkok%2010900%2C%20Thailand!5e0!3m2!1sth!2sth!4v1760278605374!5m2!1sth!2sth"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <div>
                    <h1>ชมรมคนรักกีฬา</h1>
                    <h2>มหาวิทยาลัยศรีปทุม</h2>
                    <p>2410/2 ถนนพหลโยธิน แขวงเสนานิคม เขตจตุจักร กรุงเทพมหานคร 10900</p>
                </div>
            </div>
            <div class="contact-info">
                <h2>ติดตามเราได้ที่</h2>
                <a href="https://www.facebook.com/rakkira.spu" target="_blank">Facebook: ชมรมคนรักกีฬา USR SPU</a>
                <a href="https://www.tiktok.com/@rakkira.spu" target="_blank">Tiktok: @rakkira.spu</a>
                <a href="https://northsnx.github.io/rakkira.spu" target="_blank">เว็บไซต์ชมรมคนรักกีฬา</a>
                <a href="https://www.spu.ac.th/" target="_blank">Sripatum University</a>
            </div>
            <div class="contact-info">
                <div>
                    <h2>Document</h2>
                    <a href="login.html">จัดการระบบ</a>
                    <a href="#" target="_blank">เอกสารชมรม (ทั่วไป)</a>
                    <a href="./src/page/document.html" target="_blank">เอกสารชมรม (สำหรับกรรมการ)</a>
                    <a href="gallery.html">โครงสร้างชมรม</a>
                </div>
                <div style="margin-top:30px;">
                    <h2>Developer</h2>
                    <a href="https://northsnx.github.io/portfolio" target="_blank">northsnx</a>
                    <p>v.1.0.0</p>
                </div>

            </div>
        </section>

<footer>
  <p>
    &copy; 2025 ชมรมคนรักกีฬา - All rights reserved
  </p>
</footer>

