<header class="nav-bar">
  <div class="container nav-content">
    <!-- Logo + Title -->
    <div class="logo-title">
      <a href="/"><img src="./public/meta/favicon-nav.png" alt="Logo" class="nav-logo"/></a>
    </div>

    <!-- Hamburger Menu Button -->
    <div class="menu-toggle" id="menu-toggle">&#9776;</div>

    <!-- Navigation Menu -->
    <nav class="menu" id="menu">
      <a href="index.html">หน้าหลัก</a>
      <a href="committee.html">บุคลากร</a>
      <a href="activities.html">ข่าวสาร / กิจกรรม</a>
      <a href="about.html">เกี่ยวกับเรา</a>
      <a href="index.html">เอกสารชมรม</a>
    </nav>
  </div>
</header>