<style>
.black-ribbon { position: fixed; top: 0; right: 0; width: 120px; opacity: 0.9; z-index: 9999; pointer-events: none;}
@media (max-width: 600px) { .black-ribbon { width: 100px; }}
</style>

<header class="nav-bar">
  <div class="container nav-content">

    <img src="https://raw.githubusercontent.com/appzstory/appzstory-ribbon/main/black_ribbon_top_right.png" 
     alt="Black Ribbon Top Right" 
     class="black-ribbon">

    <!-- Logo + Title -->
    <div class="logo-title">
      <a href="../../index.html"><img src="./public/meta/favicon-nav2.png" alt="Logo" class="nav-logo"/></a>
    </div>

    <!-- Hamburger Menu Button -->
    <div class="menu-toggle" id="menu-toggle">&#9776;</div>

    <!-- Navigation Menu -->
    <nav class="menu" id="menu">
      <a href="index.html">หน้าหลัก</a>
      <a href="activities.html">ข่าวสาร / กิจกรรม</a>
      <a href="committee.html">บุคลากร</a>
      <a href="about.html">เกี่ยวกับเรา</a>
    </nav>
  </div>
</header>